{% extends "myapp/layoute.html" %}
{% load static %}

{% block title %}
    Первая страница
{% endblock %}

{% block content %}
<div class="container-fluid mt-5"> <!-- Изменено на container-fluid -->
    <div class="row no-gutters"> <!-- Добавлено no-gutters для удаления отступов между колонками -->
        <div class="col-md-3">
            <aside class="text-center">
                <img src="{% static 'myapp/image/коллаж.jpg' %}" alt="коллаж" class="img-fluid w-100 h-100 object-fit-cover">
            </aside>
        </div>
        <div class="col-md-8 ml-md-3"> <!-- Используем ml-md-3 для отступа -->
            <div class="content-wrapper"> <!-- Добавлен обертка для текста -->
                <h1 class="mb-4">Коротко о нас</h1>
                <p>
                    Добро пожаловать на наш сайт, посвященный удивительной породе кошек — мейнкун.
                    Мейнкун — это одна из самых крупных и дружелюбных пород домашних кошек,
                    известная своим великолепным пушистым хвостом и умными глазами.
                    Эти кошки обладают не только впечатляющим внешним видом, но и замечательным характером,
                    что делает их идеальными питомцами для семей и любителей кошек всех возрастов.
                </p>
                <p>
                    На нашем сайте вы найдете множество интересной информации о мейнкунах,
                    включая их историю, происхождение и уникальные особенности.
                    Мы также делимся советами по уходу за этими кошками,
                    включая рекомендации по питанию, грумингу и здоровью.
                </p>
                <p>
                    Мейнкуны известны своей любознательностью и игривостью. Они обожают играть с водой,
                    часто просматривают происходящее вокруг с высоты и могут издавать уникальные звуки,
                    похожие на трели. Эти кошки становятся верными спутниками и отличаются
                    высокой степенью привязанности к своим хозяевам.
                </p>
                <p>
                    Кроме того, у нас есть раздел, посвященный историям владельцев мейнкунов,
                    где они делятся своими впечатлениями и забавными случаями из жизни со своими питомцами.
                    Если вы хотите завести мейнкуна или просто интересуетесь этой породой,
                    мы рады приветствовать вас на нашем сайте и надеемся, что вы найдете здесь много полезного и интересного!
                </p>
                <p>
                    Спасибо, что посетили наш сайт. Мы надеемся, что вы получите удовольствие от пребывания здесь и
                    найдете множество полезной информации о мире мейнкунов!
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}