{% extends "myapp/layoute.html" %}
{% load static %}

{% block title %}
    История
{% endblock %}

{% block content %}
<style>
    .content-wrapper {
        display: flex;
        align-items: flex-start;
    }

    .content-wrapper img {
        max-width: 300px;
        height: auto;
        margin-right: 20px;
    }

    .text-content {
        max-width: 600px;
    }
</style>

<div class="content-wrapper">
    <img src="{% static 'myapp/image/Американский.jpg' %}" alt="Американский мейнкун">
    <div class="text-content">
        <h1>Американский мейнкун</h1>
        <p>Мейнкун — это американская порода кошек, известная своим крупным размером и дружелюбным характером. Происходящие из штата Мэн, мейнкуны считаются одними из самых больших домашних кошек, с мощным телосложением и густой, водоотталкивающей шубой.
            Их пушистый хвост и кисточки на ушах придают им уникальный и впечатляющий вид.
            Мейнкуны обладают умным и игривым нравом, что делает их отличными компаньонами для семей.
            Несмотря на свои размеры, они очень ласковые и часто привязываются к своим хозяевам.
            Благодаря своей приспособляемости и доброжелательности, мейнкуны завоевали популярность по
            всему миру и остаются любимцами многих кошатников.
        </p>
    </div>
</div>

<div class="content-wrapper">
    <img src="{% static 'myapp/image/Европейский.jpg' %}" alt="Европейский мейнкун">
    <div class="text-content">
        <h1>Европейский мейнкун</h1>
        <p>Мейнкун, хотя и является изначально американской породой, приобрел большую популярность и в
            Европе, где его особенности и характер также высоко ценятся. Европейские мейнкуны сохраняют
            все основные черты, присущие породе, такие как крупный размер, густая шерсть и дружелюбный характер.
            Однако в Европе эти кошки часто имеют более выраженные черты экстерьера,
            акцент на которых делают европейские заводчики. Они могут отличаться
            чуть более угловатыми чертами и разнообразием окрасов.
            Европейские мейнкуны известны своей социальной натурой, высокой интеллектуальностью и игривостью,
            что делает их прекрасными компаньонами для семей и любителей кошек.
        </p>
    </div>
</div>
{% endblock %}
